@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0px auto;
    background-color: #ececec;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

h2 {
    margin-bottom: 15px;
}

h2::after {
    content: " ";
    height: 2px;
    width: 30px;
    background-color: #5656d5;
    display: block;
    margin-top: 10px;
}

.card {
    flex-basis: 31%;
    padding: 20px;
    border: solid 1px lightgrey;
    margin-top: -1px;
    background-color: white;
}

.card__email {
    font-size: 1rem;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"] {
    padding: .25rem;
}

input[type="submit"],
button {
    background-color: #5656d5;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}

.delete {
    background-color: #cb1f1f;
    margin-left: 10px;
}

.create, .edit {
    padding: 20px;
    border: solid 1px lightgrey;
}

.create input,
.edit input {
    width: 100%;
    border: solid 1px lightgrey;
    border-radius: 3px;
    padding: 10px;
    height: auto;
}

.removal {
    display: inline-block;
}
.return {
    background-color: white;
    padding-bottom: 20px;
    display: block;
    text-decoration: none;
    color: black;
}
.removal-flexible {
    position: absolute;
    bottom: 20px;
    left: 155px;
}

.edit {
    position: relative;
}